
<extend name="Index/index"/>
<block name="main">
	<!--内容开始左侧部分-->
	<div class="container">
		<div class="row">
			<div class="main-01">
				<h3>产品常见问题</h3>
			</div>
			
			<div class="main-02">

				<ul class="main-02-ul">
				<foreach name="res" item="value">
					<li class="main-02-li">
						<a href="{:U('Question/qpost',array('tid'=>$value['id']))}">
							<img src="__PUBLIC__/{$value['pic']}" alt="" width="118px" height="196px">
							<span class="main-02-span">{$value['tname']}</span>
						</a>
					</li>	
				</foreach>	
				</ul>
		
			</div>
			
			
			<div class="main-04">
				<div class="col-md-2 main-04-L">
					<h3 class="main-04-h">热门问题</h3>
				</div>
				<div class="col-md-9 main-04-R">
					<foreach name="data" item="vo">
					<span>
						<a class="main-04-a" href="javascript:;">{$vo['title']}</a>
 						<span class="content" style="display:none">{$vo['content']}</span>
					</span><br />
 				
					</foreach>
				</div>
			</div>
			<div class="main-04">
				<div class="col-md-2 main-04-L">
					<h3 class="main-04-h">购买帮助</h3>
				</div>
				<div class="col-md-9 main-04-R">
					<a class="main-04-a" href="">支付方式</a>
					<a class="main-04-a" href="">配送说明</a>
					<a class="main-04-a" href="">付款帮助</a>
					<!-- <a class="main-04-a" href=""></a> -->
				</div>
			</div>
			<div class="main-04">
				<div class="col-md-2 main-04-L">
					<h3 class="main-04-h">售后服务</h3>
				</div>
				<div class="col-md-9 main-04-R">
					<a class="main-04-a" href="">售后服务</a>
					<a class="main-04-a" href="">手机固件下载</a>
					<a class="main-04-a" href="">MP3固件下载</a>
					<a class="main-04-a" href="">手机配件价格</a>
				</div>
			</div>
			
		</div>
		<script src='__PUBLIC__/Home/js/jquery-1.11.3.min.js'></script>
		<script>
		$('.main-04-a').click(function(){
			var a = $(this).siblings('.content').text();
			alert(a);
		})
		</script>
	</div>

</block>
