<?php set_default_time_zone='PRC'; ?>
<extend name="Public/base" />
<block name="title">用户列表</block>
<block name="main">
  <div class="panel-body">
       <div class="table-responsive">
       							
       							<form action="" method="get">
       							管理员：<input type="text" name="userName" value="">
       									<input type="submit" value="查询">
       							</form>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>编号</th>
                                            <th>用户名</th>
                                            <th>用户电话</th>
                                            <th>状态</th>
                                            <th>注册时间</th>
                                            <!-- <th>注册IP</th> -->
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- 遍历用户列表 -->
                                        <foreach name='data' item='vo'>
                                            <tr class="success">
                                                <td>{$vo['id']}</td>
                                                <td>{$vo['userName']}</td>
                                                <td>{$vo['phone']}</td>
                                                <td>{$vo['status']==1?'开启':'禁用'}</td>
                                                <td>{$vo['ztime']|date='Y-m-d',###}</td>
                                                <!-- <td>{$vo['zip']}</td> -->
                                                <td>
                                                    <a href="{:U('User/edit')}?id={$vo['id']}">修改</a>
                                                    <span>|</span>
                                                    <span class='notice'></span>
                                                    <a href="{:U('User/delete')}?id={$vo['id']}" class="del_user">删除</a>
                                                    <span>|</span>
                                                    <a href="{:U('User/enable')}?id={$vo['id']}&status={$vo['status']}">{$vo['status']==1?'禁用':'开启'}</a>
                                                </td>
                                            </tr>
                                        </foreach>
                                        <tr><td>{$show}</td></tr>
                                    </tbody>
                                </table>
                            </div>   

        <script src="__PUBLIC__/Admin/jquery-1.11.3.min.js"></script>
        <script language="JavaScript" type="text/JavaScript">
           $('.del_user').click(function(){
                alert('删除此用户，将会删除用户的所有信息');
           })
        </script>                  
</block>