<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<block name='title'>
	<title>煤球商城</title>
	</block>
	<link rel="stylesheet" href="__PUBLIC__/Home/css/bootstrap.min.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/header.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/footer.css">
	<block name='css'></block>
	<link rel="stylesheet" href="__PUBLIC__/Home/css/meiball.css">
	<style>

	</style>
	<script src="__PUBLIC__/Home/js/jquery-1.11.3.min.js"></script>
</head>
<body>
	<!-- 引入头部 -->
		<include file='Public/header'/>
	<!-- 内容开始 -->
	<div style="background-color:#F2F2F2">
		<div class="container">
			<div class="row" style="margin:0px;">
				<div class="col-md-6 " style="padding:0px; margin:20px 0;">
					<ul class="main-01">
						<li class="main-01-li">
							<a class="main-01-a" href="">首页</a>
							<span>|</span>
						</li>
						<li class="main-01-li">
							<a class="main-01-a" href="">板块</a>
							<span>|</span>
						</li>
						<li class="main-01-li">
							<a class="main-01-a" href="">魅友家</a>
							<span>|</span>
						</li>
						<li class="main-01-li">
							<a class="main-01-a" href="">魅玩帮</a>
							<span>|</span>
						</li>
						
					</ul>
				</div>
			</div>
				<!--  -->
			<div class="main-02">
				<img class="col-md-12" src="__PUBLIC__/Home/images/164728x8z9qyqxzp84e4j4.png" alt="">
			</div>

				<!-- 主要内容 -->
			<div class="main-03">
				<p class="main-03-p">
					<span class="main-03-span">
						<img src="__PUBLIC__/Home/images/logo.png" alt="">
					</span>
					<span class="main-03-span">
						兑换商城
					</span>
				</p>
				<p class="main-03-p1">
					<span class="main-03-span">我的积分：</span>
					<span>|</span>
					<span class="main-03-span">购物车（0）</span>
					<span>|</span>
					<span class="main-03-span">我的兑换记录</span>
				</p>
			</div>
				<!-- 兑换商品区 -->
			<div class="main-04" style="background-color:#ffffff;">
				
					<p class="main-04-p"><span class="main-04-span">全部</span></p>
					<p class="main-04-p">礼品兑换</p>
			
					<p class="main-04-pp">按价格筛选</p>
			</div>

			
				
				<ul class="container main-05-ul" style="background-color:#ffffff;">
				<foreach name="data" item="vo">
					<li class="main-05-li">
						<img src="__PUBLIC__/{$vo['pic']}" alt="">
						<p>{$vo['name']}</p>
						<p>{$vo['price']}积分</p>
						<div class="main-05-div" style="display:none">
							<p>{$vo['name']}</p>
							<p>{$vo['price']}</p>
							<p><a class="main-05-a" href="">兑换</a></p>
						</div>
					</li>
				</foreach>
					
				</ul>
	
			

		</div>
	</div>
	<!-- 引入底部文件 -->
	<include file="Public/footer" />

	<script>
	// $('.main-05-li').each(function(){
	// 	$(this).mouseover(function(){
	// 		$(this).css('background-color','#7F7F7F');
	// 		$('.main-05-div').css('display','block');
	// 	}).mouseout(function(){
	// 		$(this).css('background-color','');
	// 		$('.main-05-div').css('display','none');
	// 	})
	// })
	$('.main-05-li').mouseover(function(){
		$(this).css('background-color','#7F7F7F');
		$(this).find('.main-05-div').css('display','block');
		// $('.main-05-li').find('.main-05-a').css('display','block');
	}).mouseout(function(){
		$(this).css('background-color','');
		$(this).find('.main-05-div').css('display','none');
		// $('.main-05-li').find('.main-05-a').css('display','none');
	})
			
	</script>
</body>
</html>