<!-- 尾部开始 -->
		<div class="container_fluid footer">
			<div class="container footer_1">
				<div class="row">
					<div class="row footer_2">
						<div class="footer_3">
							<img src="__PUBLIC__/Home/images/7.png" alt="">
							<p><span>7天 </span><span>无理由退款</span></p>
						</div>
						<div class="footer_4"></div>
						<div class="footer_3">
							<img src="__PUBLIC__/Home/images/15.png" alt="">
							<p><span>15天 </span><span>换货保障</span></p>
						</div>
						<div class="footer_4"></div>
						<div class="footer_3">
							<img src="__PUBLIC__/Home/images/1.png" alt="">
							<p><span>1天 </span><span>免费保修</span></p>
						</div>
						<div class="footer_4"></div>
						<div class="footer_3">
							<img src="__PUBLIC__/Home/images/baoyou.png" alt="">
							<p><span>全场 </span><span>包邮</span></p>
						</div>
						<div class="footer_4"></div>
						<div class="footer_3">
							<img src="__PUBLIC__/Home/images/map.png" alt="">
							<p><span>2000多家 </span><span>专卖店</span></p>
						</div>
					</div>
				</div>
			</div>
			
			
			<div class="container firend">
				<div class="row firend_1">友情链接</div>
				<div class="row firend_2">
					<foreach name='link' item='vo'>
					<a href="{$vo['link']}">{$vo['linkname']}</a>
					</foreach>
				</div>
			</div>

			<div class="container footer_5">
				<div class="footer_6">
					<h4>帮助说明</h4>
					<ul>
						<li><a href="">支付方式</a></li>
						<li><a href="">配送说明</a></li>
						<li><a href="">售后服务</a></li>
						<li><a href="">付款帮助</a></li>
					</ul>
				</div>
				<div class="footer_6">
					<h4>Flyme OS</h4>
					<ul>
						<li><a href="">云服务</a></li>
						<li><a href="">固件下载</a></li>
						<li><a href="">软件商店</a></li>
						<li><a href="">查找手机</a></li>
					</ul>
				</div>
				<div class="footer_6">
					<h4>关于我们</h4>
					<ul>
						<li><a href="">关于魅族</a></li>
						<li><a href="">加入我们</a></li>
						<li><a href="">联系我们</a></li>
						<li><a href="">法律声明</a></li>
					</ul>
				</div>
				<div class="footer_6">
					<h4>关注我们</h4>
					<ul>
						<li><a href="">新浪微博</a></li>
						<li><a href="">腾讯微博</a></li>
						<li><a href="">QQ空间</a></li>
						<li><a href="javascript:void(0)" id='weixin'>官方微信</a></li>
					</ul>
					<div class="weixin"><img src="__PUBLIC__/Home/images/weixin.png" alt=""></div>
				</div>
				
				<div class="footer_6">
					<h4>24小时全国服务热线</h4>
					<ul>
						<li id='tel'><a href="">400-788-3333</a></li>
						<li id='last'><a href="javascript:void(0)"  ><img src="__PUBLIC__/Home/images/xiaoshi.png" alt="">24小时在线客服</a></li>
					</ul>
				</div>
			</div>

			<div class="container footer_7">
				<p>	
					<a href="">{$copys['copys']}</a>
					<a href="">备案号：粤ICP备13003602号-2</a>
					<a href="">经营许可证编号：粤B2-20130198</a>
					<a href="">营业执照 </a>
					<a href=""><img src="__PUBLIC__/Home/images/footer-copy-1.png" alt=""></a>
					<a href=""><img src="__PUBLIC__/Home/images/footer-copy-2.png" alt=""></a>
					<a href=""><img src="__PUBLIC__/Home/images/trust-icon.png" alt=""></a>
				</p>
			</div>
			<a href="#top" title="回到顶部" class="backtop"></a>
		</div>
		<!-- 尾部结束 -->